/bpMlpTestingFramework/neuralTests/dist/
/bpMlpTestingFramework/neuralTests/build/
/bpMlpTestingFramework/neuralTests/datasets/logGen/build/
/bpMlpTestingFramework/neuralTests/datasets/logGen/nbproject/private/
/BackpropTrainer/nbproject/private/
/BackpropTrainer/datasets/k_wojnarowski_o_log/logGen/build/
/BackpropTrainer/datasets/k_wojnarowski_o_log/logGen/nbproject/private/
/visualComparator/build/
/visualComparator/nbproject/private/
/sources/visualComparator/build/
/sources/visualComparator/nbproject/private
/sources/VisualCompare/nbproject/private/
/sources/neurons/build/
/sources/neurons/dist/
/sources/neurons/nbproject/private/
/sources/NeuronsVisualisation/nbproject/private/
/sources/BackpropTrainer/nbproject/private/
/sources/BackpropTrainer/dist/
/sources/BackpropTrainer/build/
/datasets/k_wojnarowski_o_log/logGen/build/
/datasets/k_wojnarowski_o_log/logGen/nbproject/private/
/sources/VisualCompare/build/